.serviceImageContainer {
  position: relative;
  height: 100px;
  width: 100%;
}

.serviceImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}
